body
{
	overflow-x: hidden;
}

body.orientation
{
    background: url("../images/orientation.jpg") no-repeat center center white;
}

.nopadding
{
    padding: 0 !important;
}

.nomargin
{
    margin: 0 !important;
}

header
{
    position: absolute;
    top: 1em;
    width: 98%;
    z-index: 1;
}


header img
{
	/*position: absolute;
	z-index: 50000;*/
	max-width: 80%;
}

header .botonera
{
	padding: 0;
}

header .facebook
{
	padding: 0;
    text-align: right;
}

header .middle
{
    text-align: center;
}

header .middle img
{
    max-width: 60%;
}

#mainWrapper
{
    transition: opacity 0.3s;
	max-width: 98%;
	margin: 0 auto;
}

.row
{
	margin: 0;
}

section#home
{
    width: 95%;
    /*position: relative;
    top: -4em;*/
    z-index: 0;
    margin: 0 auto;
}

section#home .slide
{	
	list-style: none;
}

section#home img
{
	max-width: 100%;
}

section#home .flecha
{
	padding: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

section#home .flecha img
{
    max-width: 40%;
}

section#home .flechaDer
{
	text-align: right;
}

section#home .slideWrapper
{
	padding: 0 6%;
}

footer
{
    position: relative;
    bottom: 1em;
    width: 100%;
}

footer img
{
    max-width: 16%;
}

footer .corner
{
    text-align: right;
}

footer .corner img
{
    max-width: 50%;
}

footer .socialWrapper
{
	white-space: nowrap;
}

footer .socialWrapper a
{
	
}

#madeBy
{
	position: absolute;
	text-transform: uppercase;
	color: #321dd4;
	white-space: nowrap;
	font-weight: bold;
	opacity: 0;
	top: 0;
	left: 0;
	padding-right: 20px;
	
	transition: opacity 0.2s;
}

#madeBy.visible
{
	opacity: 1;
}

#madeBy a
{
	color: #321dd4;
	text-decoration: underline;
}

#madeBy a.spacer
{
	text-decoration: none;
	display: inline-block;
	padding-left: 10px;
}