body
{
	margin-top: 1em;
}

body.orientation
{
    background: url("../images/orientation.jpg") no-repeat center center white;
}

header img
{
	position: absolute;
	z-index: 50000;
	max-width: 100%;
}

header .botonera
{
	padding: 0;
}

header .facebook
{
	text-align: right;
}

header .middle
{
    text-align: center;
}

#mainWrapper
{
    transition: opacity 0.3s;
}

section#home img
{
	max-width: 100%;
}

section#home .flecha
{
	padding: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

section#home .slideWrapper
{
    padding: 0;
}